:root{
    --accent-color:#757575 ;
    --title-color:#000;
    --logo-color:#2196F3;
    --bcg-color:rgba(245, 244, 250, 1);
    --footer-bcg-color:rgba(47, 48, 58, 1);
    --email-tel-footer-color:rgba(255, 255, 255, 0.6);
    --tel-header-color:rgba(117, 117, 117, 1);
    --header-hover-color:rgba(33, 150, 243, 1);
    --hero-section-bcg-color:rgba(47, 48, 58, 1);
}


header>a[href="./index.html"]{
    color:var(--title-color)
}

header>nav>ul>li>a[href="./Studio.html"]{
    color: #000;
}

header>nav>ul>li>a[href="./Studio.html"]:hover{
    color: #2196F3;
}

header>nav>ul>li>a[href="./portfolio.html"]{
    color: #000;
}

header>nav>ul>li>a[href="./portfolio.html"]:hover{
    color: #2196F3;
}

header>nav>ul>li>a[href="./kontakty.html"]{
    color: #000;
}
header>nav>ul>li>a[href="./kontakty.html"]:hover{
    color: #2196F3;
}

header>ul>li>a[href="mailto:info@devstudio.com"]{
    color: #2196F3;
}
header>ul>li>a[href="mailto:info@devstudio.com"]:hover{
    color: #000;
}

header>ul>li>a[href="tel:+380981111111"]{
    color: #757575;
}

button{
    color: #ffffff;
    background-color: #2196F3;
    position: relative;   
}

section>ul>li>h2{
    color: var(--title-color);
}

section>ul>li>p{
    color: #757575;
}

section>ul>li>img{
    position: relative;
}
section>ul>li>img>h2{
    color:var(--title-color)
}

footer>ul>li>a{
    color: #757575;
}

