:root{
    --accent-color:#757575 ;
    --title-color:#000;
    --logo-color:#2196F3;
    --bcg-color:rgba(245, 244, 250, 1);
    --footer-bcg-color:rgba(47, 48, 58, 1);
    --email-tel-footer-color:rgba(255, 255, 255, 0.6);
    --tel-header-color:rgba(117, 117, 117, 1);
    --header-hover-color:rgba(33, 150, 243, 1);
    --hero-section-bcg-color:rgba(47, 48, 58, 1);
    --footer-bcg:#2F303A;
    --text-color:#FFF;
    --border-color: #eee;
    --social-color:#AFB1B8;
}


body{
    font-family:Roboto;
}


.container{
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid blue;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;

}

.header-box{ 
    display: flex;
    align-items: center;
}

.header-index{
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color:var(--logo-color)
}

.header-index2{
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color:var(--title-color)
}

.header-list{
    display: flex;
    gap: 50px;
    margin-left: 93px;
    
}

.header-items{
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.header-link{
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover{
    color: var(--logo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}



.header-contact{
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
}
.header-contact:hover{
    color: var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
.header-mail{
    fill: var(--logo-color);
}
.header-phone{
    fill: var(--logo-color);
}
}

.header-mail{
    fill: var(--accent-color);
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.header-phone{
    fill: var(--accent-color);
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
.pages-list{
    display: flex;
    gap: 8px;;
    justify-content: center;
}


.pages-btn{
    color:var(--title-color);
    background-color: var(--bcg-color);
    position: relative; 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal; 
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: none;
    background: var(--bcg-color);
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    padding: 6px 22px;
}

.pages-btn:hover{
    color: var(--bcg-color);
    background-color: var(--logo-color);
    position: relative; 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px; 
    border-radius: 4px;
    background: var(--logo-color);
    width: 125px;
    height: 38px;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.gallery{
    padding-top: 94px;
    padding-bottom: 94px;
}

.gallery-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.gallery-item{
    border: 1px solid var(--border-color);
    background: var(--text-color);
    flex-basis: calc((100% - 60px) /3);
}

.gallery-item:hover{
    border: 1px solid var(--border-color);
    background: var(--text-color);
    flex-basis: calc((100% - 60px) /3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.gallery-image{
    width: 100%;
}

.gallery-text{
    padding: 20px 24px;
}

.gallery-name{
    color: var(--title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
}

.gallery-description{
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
}

.footer{
    background: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-wrap{
    display: flex;
    align-items: baseline;
}


.footer-logo{
    color: var(--logo-color);
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-logo2{
    color: var(--text-color);
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 9px;
}

.address-map{
    color: var(--text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-contact{
    color: var(--email-tel-footer-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-join{
    margin-left: 70px;
}


.footer-heading{
    color: var(--text-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-items{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-elem{
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-elem:hover{
    background-color:var(--logo-color);
}

.footer-icon{
    width: 20px;
    height: 20px;
    fill: var(--text-color);
}