:root{
    --accent-color:#757575 ;
    --title-color:#000;
    --logo-color:#2196F3;
    --bcg-color:rgba(245, 244, 250, 1);
    --footer-bcg-color:rgba(47, 48, 58, 1);
    --email-tel-footer-color:rgba(255, 255, 255, 0.6);
    --tel-header-color:rgba(117, 117, 117, 1);
    --header-hover-color:rgba(33, 150, 243, 1);
    --hero-section-bcg-color:rgba(47, 48, 58, 1);
    --text-color:#FFF;
    --team-heading-color:#212121;
    --team-bcg:#F5F4FA;;
    --footer-bcg:#2F303A;;

}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid blue;
}

body{
    font-family:Roboto;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-box{ 
    display: flex;
    align-items: center;
}

.header-index{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color:var(--logo-color);
}

.header-index2{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color:var(--title-color);
    
}

.header-list{
    display: flex;
    gap: 50px;
    margin-left: 93px;
    margin-right: 344px;
}

.header-items{
    display: flex;
    gap: 50px;
}

.header-link{
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover{
    color: var(--logo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-contact{
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.header-contact:hover{
    color: var(--logo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
   

.hero{
    background:var(--hero-section-bcg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title{
    color: var(--text-color);
    text-align: center;
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn{
    color: var(--bcg-color);
    background-color: #2196F3;
    position: relative; 
    border-radius: 4px;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px; 
padding: 10px 32px 10px 32px; 
border: none;
}

.features{
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list{
    display: flex;
    gap: 30px;
}

.features-subtitle{
    color: var(--title-color);  
    width: 270px; 
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.features-text{
    color: var(--accent-color);
    width: 270px;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.work{
    padding-bottom: 94px;
}
.work-title{
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
text-align: center;
margin-bottom: 50px;

}

.work-list{
    display: flex;
    gap: 30px;
}

.team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}

.team-list{
    display: flex;
    gap: 30px;
}
.team-item{
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-card{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-heading{
    color: var(--team-heading-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
}

.team-name{
    color: var(--team-heading-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;

}

.team-description{
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.footer{
    background: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    color: var(--logo-color);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-logo2{
    color: var(--text-color);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}



.footer-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 9px;
}

.address-map{
    color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-contact{
    margin-top: 20px;
    color: var(--email-tel-footer-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}